extends baseEmail 

block content 
    p Hello #{username}
    p Well, this is a little embarasing..
    p We are sorry to let you know that we had an error in sending a recent tweet you scheduled on #{date}.
    p We have recorded the error and will follow up but if it continues, please feel free to contact us! 
    p Have a great day.
    p Russell Carey